<p id="each-post">
    <li id="post-<%= post._id %>">
        <%= post.content %> <br>
        <small>
            <%= post.user.name %>
        </small>
        <% if(locals.user && locals.user.id == post.user.id){ %>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">
                    <button>
                        Delete Post
                    </button>
                </a>
            </small>
        <% } %>
        <!-- Display the likes of this post
        If the user is logged in, then show the link to toggle likes, else just show the count -->
        <br>
        <small>
            <% if(locals.user){ %>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                    <%= post.likes.length %> Likes
                </a>
            <% }else{ %>
                <%= post.likes.length %> Likes
            <% } %>
        </small>
        <div class="post-comments">
            <% if(locals.user){ %>
                <form action="/comments/create" method="POST">
                    <input type="text" name="content" placeholder="Type here to add a comment..." required size="30">
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input type="submit" value="Add Comment">
                </form>
                <% } %>
                <div class="post-comments-list">
                    <small><b>Comments : </b></small> <br>
                    <ul id="post-comments-<%= post._id %>">
                        <% for(comment of post.comments){ %>
                            <p id="comment-<%= comment._id %>">
                                <%- include('_comments') -%>
                            </p>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </li>
            </p>